.enews-form, .wpcf7 {
	font-size: 0;
	margin-top: 50px;
}
.wpcf7 p {
	display: inline-block;
	margin-right: 4%;
	width: 48%;
	margin-bottom: 2%;
}
.wpcf7 input[type=text],.wpcf7 input[type=email], .wpcf7 input[type=tel], textarea {
	font-size: 13px;
	padding: 1em;
	border: none;
	width: 100%;
}
.wpcf7 .wpcf7-form-control-wrap  {
	font-size: 13px;
	line-height: inherit;
}
.wpcf7 p:nth-child(odd) {
	margin-right: 0;
}
.wpcf7 p.fullWidth {
	width: 100%;
}
.wpcf7 input[type=submit] {
	width: auto;
}
input[type=submit].button {
	margin-top: 0;
}
textarea {
	margin-bottom: 2%;
	padding: 1em;
	border: none;
}
.darkForm input, .darkForm textarea, .wpcf7 input, .wpcf7 textarea {
	font-size: 16px;
	border-bottom: 1px solid #000;
	color: #999;
}
.darkForm ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
.darkForm input[type=submit], .wpcf7-submit {
	float: right;
}
.darkForm ::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
.darkForm :-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
.darkForm :-moz-placeholder { /* Firefox 18- */
  color: #999;
}
textarea {
	width: 100%;
}
textarea:focus, input:focus {
	outline: none;
}