.light p, .light h1, .light h2, .light h3, .light h4, .light h5, .light h6, .light ul, .light ol {
	color: #fff;
}

// LATO FONT
$lato: lato, sans-serif;

.no-bullets {
	padding-left: 0;
	margin-bottom: 0;
}
.no-bullets li {
	list-style: none;
}
.no-bullets.centered li {
	padding-bottom: 20px;
	margin-bottom: 20px;
	position: relative;
}
.no-bullets.centered li:after {
	content: "";
	width: 40px;
	height: 1px;
	background-color: $gold;
	top: 100%;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -20px;
}
.no-bullets.centered li:last-of-type {
	padding-bottom: 0;
}
.no-bullets.centered li:last-of-type:after {
	display: none;
}
.centeredList h2 {
	margin-bottom: 30px;
}
.bullet-points {
	padding-left: 0;
	margin-left: 2px;
}
.bullet-points li {
	list-style: none;
	position: relative;
	margin-bottom: 15px;
	padding-left: 20px;
}
.boxed.relativePositioning .bullet-points {
	max-width: 65%;
}

.icon-text p {
	margin-left: auto;
	margin-right: auto;
}

// SPLASH
.splash h1 {
	color: #fff;
	font-size: 2.5em;
	margin: 0 0 30px;
	text-shadow: 0 0 10px #666;
}
.text-align-center {
	text-align: center;
}

// FONT FAMILIES
.light h1.tachyon {
	font-family: tachyon, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 4.5em;
	color: $gold	;
	background: linear-gradient(#fef7ac 50%, $gold 60%);
	background: -webkit-linear-gradient(#fef7ac 50%, $gold 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: -20px;
}
.tachyon sup {
	font-size: .25em;
	background: linear-gradient(#fef7ac 50%, $gold 60%);
	background: -webkit-linear-gradient(#fef7ac 50%, $gold 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	top: -27px;
}
.light h3.gold {
	color: $gold;
}

// BUTTONS
.button, input[type=submit] {
	display: inline-block;
	margin-top: 15px;
	padding: 12px 20px;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.25s ease-in-out;
	border-radius: 100px;
	border-width: 2px;
	border-style: solid;
	font-size: 14px;
}
.button:hover, .button.dark:hover, .button.light:hover {
	transition: 0.25s ease-in-out;
	background-color: $gold;
	border-color: $gold;
	
}
p ~ .button {
	margin-top: 30px;
}
.button.dark {
	background-color: $black;
	color: #fff;
	border-color: #fff;
	border-color: $black;
}
.button.light {
	border-color: #fff;
	color: #fff;
	background-color: transparent;
}

.header-container h1 {
	font-size: 2.5em;
}