.error404 .wpdreams_asl_container {
	max-width: 500px;
}
.error404 div[id*=ajaxsearchlite].wpdreams_asl_container {
	margin-top: 50px;
}
.error404 div.asl_m.asl_w .probox {
	border: 1px solid #e9e9e9!important;
}