.copyright {
	background-color: #222;
}
.copyright p {
	font-size: 13px;
}
.social-media {
	padding: 0;
	margin: 0;
}
.social-media li {
	list-style: none;
	display: inline-block;
}
.social-media .fa {
	color: #fff;
	font-size: 20px;
	transition: 0.25s ease-in-out;
}
.social-media .fa:hover {
	transition: 0.25s ease-in-out;
	color: $gold;
}
.social-media a:hover .fa {
	color: $gold;
}
.copyright .inner {
	padding-top: 20px;
	padding-bottom: 20px;
}
footer .button {
	margin-top: 0;
}
// STOCK WIDGET
.smw-single.smw-horizontal .smw-change-indicator {
	display: flex;
	text-align: center;
	flex-direction: column;
}
.smw-single.smw-horizontal .smw-change-indicator.smw-rise .smw-field-symbolprice,
.smw-single.smw-horizontal .smw-change-indicator.smw-rise .smw-field-change {
	flex: 0 0 100%;
	max-width: 400px;
	width: 100%;
}
.smw-single.smw-horizontal .smw-change-indicator.smw-rise .smw-field-symbolprice {
	border-radius: 10px 10px 0 0;
	background-color: $gold;
	border-color: $gold;
}
body .smw-single.smw-horizontal .smw-change-indicator.smw-rise .smw-field-change {
	border-radius: 0 0 10px 10px;
	padding: 0.6rem;
	display: flex;
	justify-content: center;
	border-color: $gold;
}
.smw-single.smw-horizontal .smw-change-indicator.smw-rise .smw-field-change > .smw-rise {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 5px;
}
@media (min-width: 768px) {
	.social-media {
		text-align: right;
	}
	.social-media li {
		margin-left: 20px;
	}
}
@media (max-width: 767px) {
	.social-media {
		margin-bottom: 20px;
	}
	.social-media li {
		margin-right: 20px;
	}
}