.hamburger {
	padding: 0;
}

.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #fff;
	height: 2px;
	width: 30px;
}
.hamburger:focus {
	outline: none;
}
.hamburger-inner:hover,
.hamburger-inner:hover:before,
.hamburger-inner:hover:after,
.hamburger.is-active .hamburger-inner:hover,
.hamburger.is-active .hamburger-inner:hover::before,
.hamburger.is-active .hamburger-inner:hover::after {
	background-color: #fff;
	opacity: 1;
}
.hamburger-inner::before {
	top: -8px;
}
.social-window .social-media .fa {
	font-size: 30px;
}
.social-window .social-media li {
	margin: 0;
}
.social-window .social-media a {
	display: block;
	padding: 1em;
}
.hamburger-inner::after {
	bottom: -8px;
}
.hamburger-box, .hamburger, .socialWindowToggle {
	height: 20px;
	width: 30px;;
}

// REMOVE OUTLINE WHEN USING MOUSE
body.using-mouse :focus {
  outline: none!important;
} 

// MOBILE MENU
.mobile-menu {
	margin-bottom: 2em;
}
.mobile-menu ul {
	list-style: none;
	padding: 0;
}
.mobile-menu li {
	
}
.mobile-menu a {
	text-decoration: none;
	color: #fff;
	padding: 1em;
	display: block;
}

// IF LOGGED IN MOVE HEADER DOWN
.admin-bar header {
	top: 32px;
}

// HIDE MENU ON SCROLL
header.nav-up {
	transform: translateY(-83px);
	transition: 0.25s ease-in-out;
}
header {
	transition: 0.25s ease-in-out;
}

// SOCIAL MEDIA WINDOW
.social-window {
	position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0,0,0,.95);
	//display: none;
	z-index: 99;
	visibility: hidden;
	opacity: 0;
	transition: 0.25s ease-in-out;
}
.search-is-visible .social-window {
	opacity: 1;
	transition: 0.25s ease-in-out;
	visibility: visible;
}
.socialWindowToggle {
	flex: 0 0 30px;
    display: flex;
    justify-content: flex-end;
	//top: 50%;
	//margin-top: -10px;
	//right: 2em;
	//position: absolute;
	z-index: 999;
}
@media (min-width: 1280px) {
	.socialWindowToggle {
		right: calc(50% - 640px + 2em);
	}
}
.social-window .social-media {
	text-align: center;
}

.window-content {
	text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 90%;
}
.subMenuToggle {
	position: absolute;
    right: calc(1em - 2px);
    top: 12px;
    background-color: $gold;
    width: 30px;
    height: 30px;
    border-radius: 50px;
	display: none;
}
.subMenuToggle > .fa {
	text-align: center;
    display: block;
    line-height: 30px;
	transition: 0.25s ease-in-out;
}
.subMenuToggle.rotate  > .fa {
	transition: 0.25s ease-in-out;
	transform: rotate(180deg);
}

nav {
	flex: auto;
    display: flex;
    justify-content: flex-end;
	margin-right: 2em;
}
nav ul {
	font-size: 0;
	margin-right: -15px;
	padding: 0;
}
nav li {
	display: inline-block;
	font-size: 15px;
}
nav a {
	color: #fff;
	padding: 15px;
	display: block;
	text-decoration: none;
}
.logo a:focus, .hamburger:focus {
	outline: thin dotted #fff;
}

footer {
	background-color: #000;
}
.footer-nav {
	font-size: 0;
	text-align: center;
	padding: 0;
}
.footer-nav.vertical {
	text-align: left;
}
.footer-nav li {
	list-style: none;
	display: inline-block;
	position: relative;
}
.footer-nav.vertical > li {
	display: block;
	margin-bottom: 15px;
}
.footer-nav a {
	font-size: 14px;
	color: #fff;
	padding: 1em;
	text-decoration: none;
	display: block;
}
.footer-nav.vertical {
	margin-left: 2px;
}
.footer-nav.vertical a {
	padding-bottom: 0;
	padding-top: 0;
}
footer .widget-container ul {
	list-style: none;
	padding-left: 20px;
	margin: 0;
}
footer .widget-container li {
	margin-bottom: 15px;
	text-indent: -10px;
}
footer .widget-container li a {
	position: relative;
	text-decoration: none;
	color: #fff;
	padding-left: 10px;
}
.footer-nav a:before, .bullet-points ul li:before, footer .widget-container li a:before {
	font-family: fontAwesome;
	position: absolute;
	top: 1px;
	left: 2px;
	content: "\f0da";
	color: $gold;
}
.bullet-points li li:before {
	content: "–";
	top: -1px;
	font-weight: bold;
}
footer .light h3 {
	color: $gold;
}
.magnifying-glass-container {
	display: flex;
    align-items: center;
    justify-content: center;
}
.magnifying-glass-container > .close-icon {
	height: 20px;
	width: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.close-icon > svg {
	height: 100%;
	width: 100%;
	padding: 4px;
}
.magnifying-glass-container.is-active > svg,
.magnifying-glass-container > .close-icon {
	display: none;
}
.magnifying-glass-container.is-active > .close-icon {
	display: block;
}