nav {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}
nav ul {
	font-size: 0;
	margin-right: -15px;
	padding: 0;
}
nav li {
	display: inline-block;
	font-size: 15px;
}
nav a {
	color: #fff;
	padding: 15px;
	display: block;
	text-decoration: none;
}

footer {
	background-color: #000;
}
.footer-nav {
	font-size: 0;
	text-align: center;
	padding: 0;
}
.footer-nav.vertical {
	text-align: left;
}
.footer-nav li {
	list-style: none;
	display: inline-block;
	position: relative;
}
.footer-nav.vertical > li {
	display: block;
	margin-bottom: 15px;
}
.footer-nav a {
	font-size: 14px;
	color: #fff;
	padding: 1em;
	text-decoration: none;
	display: block;
}
.footer-nav.vertical {
	margin-left: 2px;
}
.footer-nav.vertical a {
	padding-bottom: 0;
	padding-top: 0;
}
.footer-nav a:before, .bullet-points li:before {
	font-family: fontAwesome;
	position: absolute;
	top: 1px;
	left: 0;
	content: "\f0da";
	color: $gold;
}
footer .light h3 {
	color: $gold;
}