// SPACING
.inner {
	@extend %inner;
}
.bottom-margin {
	@extend %bottom-margin;
}
.bottom-padding {
	@extend %bottom-padding;
}
.top-bottom-margin {
	@extend %top-bottom-margin;
}
.top-margin {
	@extend %top-margin;
}

// PADDING
%top-padding {
	padding-top: 4em;
}
.topPadding {
	@extend %top-padding;
}
%topBottomPaddingShort {
	padding-bottom: 2em;
	padding-top: 2em;
}
%bottom-padding {
	padding-bottom: 4em;
}
%top-bottom-padding {
	padding-top: 4em;
	padding-bottom: 4em;
}
.top-bottom-padding {
	@extend %top-bottom-padding;
}
.topBottomPaddingShort {
	@extend %topBottomPaddingShort;
}
%no-top-padding {
	padding-top: 0;
}
%no-bottom-padding {
	padding-bottom: 0;
}
.no-left-padding, .inner.no-left-padding {
	padding-left: 0;
}

// MARGIN
%top-margin {
	margin-top: 2em;
}
.topMargin {
	@extend %top-margin;
}
%bottom-margin {
	margin-bottom: 2em;
}
%top-bottom-margin {
	margin-top: 2em;
	margin-bottom: 2em;
}
%no-top-margin {
	margin-top: 0;
}
%no-bottom-margin {
	margin-bottom: 0;
}
%bottomMarginMobile {
	margin-bottom: 2em;
}

// FULL WIDTH
.col_padding {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

// ABSOLUTE POSITIONED PSEUDO
%pseudo {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: "";
	z-index: 1;
}

// ABSOLUTE VERTICAL ALIGN CENTER
%aligncenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
}

// SIZING
.maxWidth800, .inner.maxWidth800 {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.maxWidth980,.inner.maxWidth980 {
	max-width: 980px;
}

// ROWS & COLUMNS
.row.gutter_space_1 {
	margin-left: -1rem;
	margin-right: -1rem;
}
.row.gutter_space_1 > .col {
	padding-left: 1rem;
	padding-right: 1rem;
}
.row.gutter_space_2 {
	margin-left: -2rem;
	margin-right: -2rem;
}
.row.gutter_space_2 > .col {
	padding-left: 2rem;
	padding-right: 2rem;
}
.dark_gradient_img_overlay .absolute_img_container:before, .light_gradient_img_overlay .absolute_img_container:before {
	position: absolute;
    width: 100%;
	content: "";
    top: 0;
    right: -1px;
    height: 100%;
    z-index: 1;
}
.dark_gradient_img_overlay .absolute_img_container:before {
	background: linear-gradient(-90deg, black, transparent);
}
.reverse.dark_gradient_img_overlay .absolute_img_container:before {
	right: auto;
	left: -1px;
    background: linear-gradient(90deg, black, transparent);
}
.dark_gradient_img_overlay.bgImgRight:before, .light_gradient_img_overlay.bgImgRight:before {
	position: absolute;
	content: "";
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
.dark_gradient_img_overlay.bgImgRight:before {
	background-color: $black;
}
.light_gradient_img_overlay.bgImgRight:before {
	background-color: #fff;
}

// POSITIONING
.relativePositioning {
	position: relative;
}
$lightGold: gold;
.goldBorderTop {
	border-top: 3px solid $gold;
}

// HEADINGS
.absoluteHeading {
	position: absolute;
	/*box-shadow: 0px 0px 15px #444;
	border-radius: 1000px;
	border: 3px solid $lightGold;
	background-color: #333;*/
	top: -2em;
	z-index: 2;
	margin-bottom: 0;
	padding: 10px 50px 13px;
	@extend %horizontalCenter;
	background-image: url(../img/backgrounds/beveled-bg.svg);
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
	text-align: center;
	color: #fff;
}

.absoluteHeading > * {
	margin-bottom: 0;
	line-height: 2.15em;
}

// HORIZONTALLY CENTER ELEMENT
%horizontalCenter {
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

// INNER CONTAINER
%inner {
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 2em;
	padding-left: 2em;
	width: 100%;
	position: relative;
	z-index: 1;
}