@import "_combine.scss";
@import "_keyboard.scss";
@import "_modal.scss";

.wrap, body, html {
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0 0 15px;
}

// CLEARFIX
.clear:after {
	display: table;
	content: "";
	clear: both;
}

// BODY

// HTML STYLES
html {
	min-height: 100%;
	background-color: #222;
}
body {
	background-color: #fff;
	font-family: $lato;
}
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

p:last-of-type {
	margin-bottom: 0;
}

.light h1.gold_color {
	color: $gold;
}

// BORDERS
.borderTopGoldGradient:before,
.borderBottomGoldGradient:before,
.header-container.borderBottomGoldGradient:after {
	height: 6px;
	background: linear-gradient(90deg, $gold, $lightGold, $darkGold, $lightGold, $darkGold);
	width: 100%;
	position: absolute;
	z-index: 10;
	content: "";
}
.borderTopGoldGradient:before {
	top: -3px;
}
.borderBottomGoldGradient:before,
.header-container.borderBottomGoldGradient:after {
	bottom: -3px;
}
.borderTopGoldGradient,
.borderBottomGoldGradient {
	position: relative;
}

// HEADER STYLES
header {
	background-color: $black;
	padding: 1em 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
}
.home header {
	background-color: transparent;
}
header.scroll {
	background-color: $black;
}
.video-container::after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	height: 50vh;
	width: 100%;
	background: linear-gradient(180deg, $black, transparent);
	z-index: 2;
}
.logo {
	flex: 0 0 350px;
	max-width: 350px;
}
header .inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

// FLEXBOX
.flex-column {
	flex-direction: column;
}
.extra-col-spacing > .col {
	padding-bottom: 4em;
}
.boxed {
	padding: 2em;
	border-width: 1px;
	border-style: solid;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.light .boxed {
	border-color: #fff;
}

// TESTIMONIALS
body .testimonial_content {
	color: $gold;
	font-style: italic;
	line-height: 1.5em;
	font-size: 18px;
}
.testimonial_author_info {
	font-size: 13px;
}

// ICONS
.icon {
	//width: 60px;
	//height: 60px;
	margin: 0 auto 15px;
}
.icon img {
	margin-bottom: 15px;
}
.icon.larger {
	width: 70px;
}

@import "_media-queries.scss";