@import "normalize.min.css";
@import "flexboxgrid.min.css";
@import "main.css";
@import "submenu.css";

// HORIZONTALLY CENTER ELEMENT
%horizontalCenter {
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

// INNER CONTAINER
%inner {
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 2em;
	padding-left: 2em;
	width: 100%;
	position: relative;
}
.light p, .light h1, .light h2, .light h3, .light h4, .light h5, .light h6, .light ul, .light ol {
	color: #fff;
}
img {
	max-width: 100%;
	height: auto;
}
.full-width {
	width: 100%;
}
a:focus {
	outline: none!important;
}

.wrap {
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0 0 15px;
}

// ABSOLUTE IMAGE
.absolute_img_container {
	position: relative;
	height: 100%;
}

// FULL WIDTH
.col_padding {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

// PADDING
%top-padding {
	padding-top: 4em;
}
%bottom-padding {
	padding-bottom: 4em;
}
%top-bottom-padding {
	padding-top: 4em;
	padding-bottom: 4em;
}
%no-top-padding {
	padding-top: 0;
}
%no-bottom-padding {
	padding-bottom: 0;
}
.no-left-padding, .inner.no-left-padding {
	padding-left: 0;
}

// MARGIN
%top-margin {
	margin-top: 2em;
}
%bottom-margin {
	margin-bottom: 2em;
}
%top-bottom-margin {
	margin-top: 2em;
	margin-bottom: 2em;
}
%no-top-margin {
	margin-top: 0;
}
%no-bottom-margin {
	margin-bottom: 0;
}

// ABSOLUTE POSITIONED PSEUDO
%pseudo {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: "";
	z-index: 1;
}

// LAST ROWS


// ABSOLUTE VERTICAL ALIGN CENTER
%aligncenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
}

// LATO FONT
$lato: lato, sans-serif;

// CLEARFIX
.clear:after {
	display: table;
	content: "";
	clear: both;
}

// BODY
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font-family: $lato;
}

p:last-of-type {
	margin-bottom: 0;
}

// COLOURS
$black: #000;
$gold: #cda85b;
$lightGold: #fef7ac;
$darkGold: #ae7726;

.light h1.gold_color {
	color: $gold;
}

// CONTAINER SPACING
.inner {
	@extend %inner;
}

// SPACING
.bottom-margin {
	@extend %bottom-margin;
}
.bottom-padding {
	@extend %bottom-padding;
}
.top-bottom-margin {
	@extend %top-bottom-margin;
}
.top-margin {
	@extend %top-margin;
}

// SECTIONS
.section {
	@extend %top-bottom-padding;
}

.darkbg {
	background-color: $black;
}
.lightbg {
	background-color: #fff;
}

// BORDERS
.borderTopGoldGradient {
	height: 6px;
	background: linear-gradient(90deg, $gold, $lightGold, $darkGold, $lightGold, $darkGold);
	width: 100%;
}

// HEADER STYLES
header {
	background-color: $black;
	padding: 1em 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
}
.logo {
	display: table-cell;
	vertical-align: middle;
}
header .inner {
	display: table;
	width: 100%;
}

// FLEXBOX
.flex-column {
	flex-direction: column;
}
.extra-col-spacing > .col {
	padding-bottom: 4em;
}
.boxed {
	padding: 2em;
	border-width: 1px;
	border-style: solid;
	height: 100%;
}
.light .boxed {
	border-color: #fff;
}

// TESTIMONIALS
body .testimonial_content {
	color: $gold;
	font-style: italic;
	line-height: 1.5em;
	font-size: 18px;
}
.testimonial_author_info {
	font-size: 13px;
}

// ICONS
.icon {
	width: 60px;
	height: 60px;
	margin: 0 auto 15px;
}
.icon.larger {
	width: 70px;
}

// SIZING
.maxWidth800 {
	max-width: 800px;
}

// NAVIGATION
nav {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}
nav ul {
	font-size: 0;
	margin-right: -15px;
	padding: 0;
}
nav li {
	display: inline-block;
	font-size: 15px;
}
nav a {
	color: #fff;
	padding: 15px;
	display: block;
	text-decoration: none;
}

// SPLASH SECTION VIDEO
.video-container {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
}
.video-container:before {
	@extend %pseudo;
	background-color: $gold;
	opacity: .5;
}
.splash video {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	left: 0;
}

.splash-content {
	@extend %aligncenter;
	text-align: center;
}

// TYPOGRAPHY
.splash h1 {
	color: #fff;
	font-size: 2.5em;
	margin: 0 0 30px;
	text-shadow: 0 0 10px #666;
}

.text-align-center {
	text-align: center;
}

// BUTTONS
.button {
	display: inline-block;
	margin-top: 15px;
	padding: 12px 20px;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.25s ease-in-out;
	border-radius: 100px;
	border-width: 2px;
	border-style: solid;
	font-size: 14px;
}
.button:hover, .button.dark:hover, .button.light:hover {
	transition: 0.25s ease-in-out;
	background-color: $gold;
	border-color: $gold;
	
}
p ~ .button {
	margin-top: 30px;
}
.button.dark {
	background-color: $black;
	color: #fff;
	border-color: #fff;
	border-color: $black;
}
.button.light {
	border-color: #fff;
	color: #fff;
}

// ROWS & COLUMNS
.row.gutter_space_1 {
	margin-left: -1rem;
	margin-right: -1rem;
}
.row.gutter_space_1 > .col {
	padding-left: 1rem;
	padding-right: 1rem;
}
.row.gutter_space_2 {
	margin-left: -2rem;
	margin-right: -2rem;
}
.row.gutter_space_2 > .col {
	padding-left: 2rem;
	padding-right: 2rem;
}
.dark_gradient_img_overlay .absolute_img_container:before, .light_gradient_img_overlay .absolute_img_container:before {
	position: absolute;
    width: 100%;
	content: "";
    top: 0;
    right: -1px;
    height: 100%;
    z-index: 1;
}
.dark_gradient_img_overlay .absolute_img_container:before {
	background: linear-gradient(-90deg, black, transparent);
}
.reverse.dark_gradient_img_overlay .absolute_img_container:before {
	right: auto;
	left: -1px;
    background: linear-gradient(90deg, black, transparent);
}
.dark_gradient_img_overlay.bgImgRight:before, .light_gradient_img_overlay.bgImgRight:before {
	position: absolute;
	content: "";
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
.dark_gradient_img_overlay.bgImgRight:before {
	background-color: $black;
}
.light_gradient_img_overlay.bgImgRight:before {
	background-color: #fff;
}

// POSITIONING
.relativePositioning {
	position: relative;
}
$lightGold: gold;
.goldBorderTop {
	border-top: 3px solid $gold;
}

// HEADINGS
.absoluteHeading {
	position: absolute;
	/*box-shadow: 0px 0px 15px #444;
	border-radius: 1000px;
	border: 3px solid $lightGold;
	background-color: #333;*/
	top: -2em;
	z-index: 2;
	margin-bottom: 0;
	padding: 10px 50px 13px;
	@extend %horizontalCenter;
	background-image: url(../img/backgrounds/beveled-bg.svg);
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
	text-align: center;
	color: #fff;
}

.absoluteHeading > * {
	margin-bottom: 0;
	line-height: 2em;
}

@media (min-width: 1200px) {
	.logo {
		width: 350px;
	}
	nav li {
		margin-left: 10px;
	}
}

@media (max-width: 1199px) {
	.logo {
		width: 250px;
	}
	nav li {
		margin-left: 0;
	}
	nav a {
		font-size: 14px;
	}
}

@media (max-width: 980px) {
	nav {
		display: none;
	}
	.splash {
		/*margin-top: 56px;*/
		height: 100vh;
	}
	.video-container {
		height: 100%;
		padding-bottom: 0;
	}
	.splash-content {
		width: 80%;
	}
	.splash h1 {
		font-size: 1.75em;
	}
	.dark_gradient_img_overlay .absolute_img_container:before {
		background: linear-gradient(0deg, black, transparent);
	}
	.light_gradient_img_overlay .absolute_img_container:before {
		background: linear-gradient(0deg, white, transparent);
	}
	.no-left-padding {
		padding-right: 0;
	}
	.bgImgRight .col_text {
		padding-left: 2em;
		padding-right: 2em;
		padding-bottom: 4em;
	}
}

@media (min-width: 981px) {
	.bgImgRight {
		background-repeat: no-repeat;
	    background-position: center right;
	    background-size: 75%;
	}
	.dark_gradient_img_overlay.bgImgRight:after, .light_gradient_img_overlay.bgImgRight:after {
		position: absolute;
		content: "";
	    top: 0;
	    left: 50%;
	    width: 30%;
	    height: 100%;
	}
	.dark_gradient_img_overlay.bgImgRight:after {
		background: linear-gradient(90deg, black, rgba(0,0,0,.75), transparent);
	}
	.light_gradient_img_overlay.bgImgRight:after {
		background: linear-gradient(90deg, white, rgba(255,255,255,.75), transparent);
	}
	.bgImgRight .col_text {
		padding-left: 2em;
	}
	.col_padding {
		padding: 4em;
	}
	.dark_gradient_img_overlay .col_padding {
		padding-top: 4em;
		padding-bottom: 4em;
		padding-right: 4em;
		padding-left: 0;
		max-width: 800px;
		margin-right: auto;
		margin-left: auto;
	}
	.reverse.dark_gradient_img_overlay .col_padding {
		padding-left: 4em;
		padding-right: 0;
		max-width: 800px;
		margin-right: auto;
		margin-left: auto;
	}
	.bgImgRight .col_padding {
		padding-right: 0;
		padding-left: 0;
	}
	.bgImgRight .col_padding.col_text {
		padding-left: 2em;
	}
	.left-padding {
		padding-left: 2em;
	}
	.hide_on_desktop {
		display: none;
	}
	/*.bgImgRight .col_with_img {
		background: linear-gradient(90deg, black, transparent);
	}
	.light_gradient_img_overlay.bgImgRight .col_with_img {
		background: linear-gradient(90deg, white, transparent);
	}*/
	.absolute_img {
		position: absolute;
		top: 50%;
		left: 50%;
		object-fit: cover;
		transform: translate(-50%,-50%);
		width: 100%;
		height: 100%;
	}
	.row.no_col_padding {
		margin-right: 0;
		margin-left: 0;
	}
	.no_col_padding > .col {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 1600px) {
	.col_padding {
		padding-top: 8em;
		padding-bottom: 8em;
	}
	.gradient_img_overlay .col_padding.col_text {
		margin-left: 0;
	}
	.gradient_img_overlay.reverse .col_padding.col_text {
		margin-right: 0;
		margin-left: auto;
	}
	.dark_gradient_img_overlay.reverse .col_text {
		margin-right: 0;
	}
}

@media (max-width: 850px) and (orientation: landscape) {
	
}

@media (max-width: 1024px) {
	.bgImgRight {
		background-size: cover;
	}
}

@media (max-width: 450px) {
	.absoluteHeading h3 {
		min-width: 130px;
	}
}