.underlined-heading {
	border-bottom: 1px solid #333;
	padding-bottom: 5px;
}
.button.dark,
.button.light {
	display: inline-block;
	margin-top: 15px;
	padding: 12px 20px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 100px;
	border-width: 2px;
	border-style: solid;
	font-size: 14px;
	border-color: #000;
	color: #000;
}
.mce-content-body a.button.dark[data-mce-selected],
.mce-content-body a.button.light[data-mce-selected] {
	display: inline-block;
	margin-top: 15px;
  	transition: none;
	padding: 12px 20px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 100px;
	border-width: 2px;
	border-style: solid;
	font-size: 14px;
	border-color: #000;
	color: #000;
	margin-right: 0;
	margin-left: 0;
}